{% extends 'base.html.twig' %}

{% block title %}Edit LienPphEtablissement{% endblock %}

{% block body %}
    <h1>Edit LienPphEtablissement</h1>

    {{ include('lien_pph_etablissement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lien_pph_etablissement_index') }}">back to list</a>

    {{ include('lien_pph_etablissement/_delete_form.html.twig') }}
{% endblock %}